html
  head
    title= "deck-poc"
    link(
    rel= "stylesheet"
    href= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity= "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin= "anonymous"
    )
    link(
    rel= "stylesheet"
    type= "text/css"
    href= "css/circle-button.css"
    )
    link(
    rel= "stylesheet"
    type= "text/css"
    href= "css/all.css"
    )
    link(
    rel="stylesheet"
    href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
    )
    script(
      src= "https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity= "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin= "anonymous"
    )
    script(
      src= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity= "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin= "anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
      integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
      crossorigin="anonymous"
    )
    script(
      src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity= "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin= "anonymous"
    )
    script(
      src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"
    )
    block script
  body
    block navbar
    .jumbotron.vertical-center.other
      .main.container
        div.display-2
          block title
          br
          block content
